datacenter = "{{ consul_datacenter }}"
data_dir   = "/opt/consul"
log_level  = "{{ consul_log_level }}"
node_name  = "{{ consul_node_name }}"

server           = true
bootstrap_expect = 1

bind_addr   = "{{ consul_bind_addr }}"
client_addr = "{{ consul_client_addr }}"

ui_config {
  enabled = true
}

ports {
  grpc = 8502
}

connect {
  enabled = true
}


